header {
  background-color: yellow;
}

header a {
  margin: 0 25px;
  color: blue;
}

header img {
  height: 50px;
}

footer {
  color: white;
  background-color: blue;
  margin: 10px;
  padding: 10px;
}
